src/stepFunctions/repeatedlyExecuteActiveDataflowPrograms.json
{
  "StartAt": "Add step function to DB if none running",
  "States": {
    "Add step function to DB if none running": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:816253370536:function:checkIfStepFunctionIsExecuting:$LATEST"
      },
      "Next": "Initialize Iterator Count",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "End"
        }
      ]
    },
    "Initialize Iterator Count": {
      "Type": "Pass",
      "Result": {
          "index": 0,
          "step": 15,
          "max": 20000,
          "StateMachineArn": "arn:aws:states:us-east-1:816253370536:stateMachine:repeatedlyExecuteActiveDataflowPrograms"
      },
      "ResultPath": "$.iterator",
      "Next": "Execute all active programs"
    },
    "Execute all active programs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:816253370536:function:findRunningPrograms:$LATEST"
      },
      "Next": "Remaining active programs?",
      "ResultPath": "$.results",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Remove step function from DB"
        }
      ]
    },
    "Remaining active programs?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.results.Payload.count",
          "NumericEquals": 0,
          "Next": "Delete stale programs from DB"
        }
      ],
      "Default": "Increment iterator"
    },
    "Increment iterator": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:816253370536:function:Iterator",
      "ResultPath": "$.iterator",
      "Next": "Is count reached?"
    },
    "Is count reached?": {
      "Type": "Choice",
      "Choices": [
          {
              "Variable": "$.iterator.continue",
              "BooleanEquals": true,
              "Next": "Execute all active programs"
          }
      ],
      "Default": "Remove step function from DB and restart"
    },
    "Delete stale programs from DB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:816253370536:function:deleteAllStalePrograms:$LATEST"
      },
      "Next": "Remove step function from DB"
    },
    "Remove step function from DB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName": "dataflow-programs",
        "Key": {
          "active": {
            "N": "2"
          },
          "endTime": {
            "N": "0"
          }
        }
      },
      "Next": "End"
    },
    "Remove step function from DB and restart": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName": "dataflow-programs",
        "Key": {
          "active": {
            "N": "2"
          },
          "endTime": {
            "N": "0"
          }
        }
      },
      "ResultPath": "$.throwAway",
      "Next": "Restart"
    },
    "Restart": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:816253370536:function:restartStepFunction",
      "Next": "End"
    },
    "End": {
      "Type": "Pass",
      "End": true
    }
  }
}